<ion-view view-title="登录">

  <ion-nav-buttons side="right">
      <button class="button button-clear button-calm" ui-sref="register">
        去注册
      </button>
  </ion-nav-buttons>

  <ion-content class="loginBack">
      <div class="wenzi">
        停车宝
      </div>


    <div class="list mylist">
      <label class="item item-input myitem">
        <span class="input-label">登录</span>
        <input type="text">
      </label>
      <label class="item item-input myitem">
        <span class="input-label">电话</span>
        <input type="password">
      </label>
      <label class="item item-input myitem">
        <span class="input-label">密码</span>
        <input type="password">
      </label>
      <label class="item item-input myitem">
        <span class="lijilogin">立即登录</span>
      </label>

      <div class="footer">忘记密码?</div>
    </div>

    <!--<div class="footer">忘记密码？</div>-->
  </ion-content>

</ion-view>
