<ion-view class="loginBack" ng-click="goL()">

  <ion-content overflow-scroll="true" style="overflow: hidden">
      <div class="wenzi">
        停车宝
      </div>


    <div class="list mylist">
      <label class="item item-input myitem">
        <span class="input-label">手机号</span>
        <input type="tel" ng-model="staLogin.tel">
      </label>
      <label class="item item-input myitem">
        <span class="input-label">密码</span>
        <input type="password" ng-model="staLogin.pwd">
      </label>
      <label class="item item-input myitem" ng-click="carLog()">
        <span class="lijilogin">立即登录</span>
      </label>
      <div class="goRegister" ui-sref="register">
        去注册
      </div>

      <div class="footer">忘记密码?</div>

    </div>

    <!--<div class="footer">忘记密码？</div>-->
  </ion-content>

</ion-view>
