<ion-view>
  <!--<div class="item item-avatar">-->
    <!--<img ng-src="./img/ionic.png">-->
    <!--<h2>Pretty Hate Machine</h2>-->
    <!--<p>Nine Inch Nails</p>-->
  <!--</div>-->
  <ion-header-bar align-title="meddle">
    <h1 class="title">个人中心</h1>
  </ion-header-bar>
  <ion-content class="me">
    <img ng-src="./img/top_img.png" class="topImg">
    <ion-list>
      <ion-item class="item item-icon-right" ui-sref="personal">
        <i class="icon ion-ios-arrow-right"></i>
        <p>个人信息</p>
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="carNumberBind">
        <i class="icon ion-ios-arrow-right"></i>
        <p>车牌号绑定</p>
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="pwChange">
        <i class="icon ion-ios-arrow-right"></i>
        <p>密码修改</p>
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="goPay">
        <i class="icon ion-ios-arrow-right"></i>
        <p>待支付</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
