<ion-view class="registerBack">

<ion-content overflow-scroll="true" style="overflow: hidden">

  <div class="list listAll">
      <div class="item itemstyle">
        <div  class="registerpSmallPig Tel"></div>
        <input class="commomInput" type="tel" placeholder="请输入电话号" ng-model="sta.tel">
        <div class="line"></div>
      </div>

      <div class="item itemstyle">
        <div  class="registerpSmallPig Pass"></div>
        <input class="commomInput" type="password" placeholder="请输入密码" ng-model="sta.pwd1">
        <div class="line"></div>
      </div>

      <div class="item itemstyle">
        <div  class="registerpSmallPig rePass"></div>
        <input class="commomInput" type="password" placeholder="确认密码" ng-model="sta.pwd2">
        <div class="line"></div>
      </div>

    <div class="regisCode">
      <input class="regisCodeInput"/>
      <buntton class="button button-calm regisCodeButton">请输入验证码</buntton>
    </div>

    <div class="registerButton">
      <span ng-click="carSub()"> 注&nbsp;册</span>
    </div>

  </div>

</ion-content>
</ion-view>
