<ion-view>
  <!--<ion-content class="padding">-->
    <!--<h2>Welcome to Ionic</h2>-->
    <!--<p>-->
    <!--This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.-->
    <!--</p>-->
    <!--<p>-->
      <!--To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>-->
    <!--</p>-->
    <!--<p>-->
    <!--If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.-->
    <!--</p>-->
    <!--<p>-->
      <!--For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.-->
    <!--</p>-->
  <!--</ion-content>-->
<!--<app-map></app-map>-->

<!--<div class="bar bar-header item-input-inset">-->
  <!--&lt;!&ndash;<a class="button button-clear icon-left ion-android-add-circle">北京</a>&ndash;&gt;-->
  <!--<labal class="item-input-inset">-->
    <!--<input maxlength="80%" class="light-bg" type="text" placeholder="请输入">-->
  <!--</labal>-->
<!--</div>-->
    <div class="search">
      <input type="text" placeholder="请输入要去的地方">
      <!--<div class="button button-calm">搜索</div>-->
      <img src="../img/search.png" alt="">
    </div>
  <div id="container" class="map"></div>

</ion-view>

